body{

  height: 100vh;
  background: linear-gradient(
    120.11deg,
    #51d2f0 10.78%,
    rgba(66, 36, 155, 0.4) 70.61%
  );
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.wrapper{
  /* margin: 50px 50px ; */
   /* border:  1px solid red; */
   width: 800px;
}

.blur{
  filter: blur(10px);
}
.listWrapper{
  background-color: rgba(155, 217, 251, 0.5);;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
  border-radius: 2px;
}